/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/*------------- Header -------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 61px;
    height:19px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    border-top: 2px solid #ffffff;
    padding: 20px 0;
    margin-left: 68px;
}

nav ul li:hover {
    border-top: 2px solid var(--main-color);
}

nav ul li a:hover {
    color: var(--main-color);
    transition: all .5s;
}

/*------------- Section informations -------------*/

.entete h1 {
    font-size: 25px;
    margin-top: 40px;
}

.entete p {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 0;
}

.bar {
    display: flex;
    margin-bottom: 40px;
}

.icone-localisation {
    background-color: var(--main-bg-color);
    border: var(--main-bg-color) 1px solid;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 40px;
    border-radius: 15px 0 0 15px;
}

input[type="search"] {
    border: var(--main-bg-color) 1px solid;
    line-height: 50px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.search {
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    width: 130px;
}

.search p {
    margin: 0;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
}

/*------------- Section informations -------------*/

.filter {
    display: flex;
    align-items: center;
    width: 758px;
}

.txt-filter {
    font-weight: 700;
    padding-right: 5px;
    margin-right: 10px;
}

.icon-filter  {
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: var(--main-bg-color) 2px solid;
    background-color: #ffffff;
    border-radius: 25px;
    font-weight: 700;
    padding: 20px;
    margin-right: 15px;
}

.icon-filter:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.icon-filter i {
    color: var(--main-color);
}

.icon-filter p {
    padding-left: 10px;
}

.icon-filter p:first-letter {
    text-transform: capitalize;
    }

.info {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.info i {
    color: var(--main-color);
    background-color: #ffffff;
    border: var(--main-bg-color) 2px solid;
    border-radius:50%;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 23px;
}

.info p {
    padding-left: 10px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires p {
    margin-top: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    width: calc(33% - 15px);
    padding-top: 30px;
}

.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .afficher p {
    font-weight: 900;
    font-size: 18px;

}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-content h3 {
    padding-left: 10px;
    padding-top: 10px;
}

.card-content p {
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0;
    padding-top: 5px;
}

.populaires-cards .card-title {
    margin-top: 8px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.card-rating {
    margin-bottom: 5px;
    margin-left: 10px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    margin-left: 10px;
}

/****** Activités ***********/

.title-activites {
    margin-top: 60px;
    padding-left: 22px;
}

.title-activites h2 {
    padding-bottom: 10px;
}

.img-activites {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card-activites {
    width: calc(25% - 30px);
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: rgba(1, 0.9, 0.9, 0.2) 4px 2px 10px;
    border-radius: 30px;
    overflow: hidden;
}

.card-activites img {
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.card-activites p {
    padding-left: 20px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

/****** Footer ***********/

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 160px;
}

.infos-end {
    padding: 20px;
    width: 470px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}

.infos-end a {
    text-transform: capitalize;
    line-height: 2;
}

.infos-end a span {
    font-weight: 700;
}

@media screen and (min-width: 1025px) and (max-width: 1180px) {
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .title-activites {
    margin-top: 50px;
    padding-left: 22px;
}

.img-activites {
    display: flex;
    justify-content: space-around;
}

.card-activites {
    background-color: #ffffff;
    height: 420px;
    width: 295px;
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 2px 2px 2px 2px #00000023;
    border-radius: 30px;
}

.card-activites img {
    height: 370px;
    width: 295px;
    border-radius: 30px 30px 0 0;
}

.card-activites p {
    padding-left: 20px;
    font-weight: 700;
    padding-top: 12px;
}

.img-activites {
    display: flex;
    flex-wrap: wrap;
}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}